body {
    background-image: url("../images/concrete-texture.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 30px;
    font-size: 20px;
    width: 100%;
    margin: 0;
}

p {
    margin: 20px auto;
}

.header-style {
    width: 100%;
    background-color: #FFFFFF;
    height: 100px;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #CCCCCC;
    clear: both;
  
}

.wrapper {
    max-width: 960px;
    /* height: 100%; */
    width: 95%;
    margin: auto;
}

.navbar-brand-custom {
    color: #FFFFFF;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    background-color: #4AAAA5;
    margin-top: 0px;
    float: left;
    height: 100px;
    line-height: 100px;
    text-align: center;
    padding-right: 30px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 30px;
}

.navbar-menu {
    position: relative;
    left: 0;
    padding: 0;
    margin-top: 0px;
    float: right;
}

.navbar-menu > li {
    list-style-type: none;
    line-height: 100px;
    padding-left: 30px;
    display: inline-block;
    font-size: 20px;
}

.navbar-menu > li > a:link, a:visited {
    color: #777777;
    text-decoration: none;
}

.navbar-menu > li > a:hover {
    color: #4AAAA5;
    text-decoration: none;
}

.section-style {
    box-sizing: border-box;
    margin-top: 50px;
    padding: 20px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #dddddd;
    float: left;
    margin-bottom: 100px;
}

.section-header {
    color: #4AAAA5;
    border-bottom: 2px solid #dddddd;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;

}

.section-img {
    float: left;
    width: 150px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}


.footer-style {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #666666;
    margin: 0;
    padding: 0;
    border-top: 5px solid #4AAAA5;
    color: #dddddd;
}

.footer-text {
    position: fixed;
    bottom: 10px;
    left: 45%;
    font-size: 16px;
}

.project-tile {
    float: left;
    background-image: url("http://i0.kym-cdn.com/entries/icons/original/000/021/807/4d7.png");
    background-size: 250px;
    margin-top: 20px;
    width: 250px;
    height: 190px;
    margin: 15px;
}

.project-tile > img {
    width: 100%;
    z-index: 0;
    
}

.project-title {
    margin-top: 150px;
    background: #4AAAA5;
    width: 100%;
    height: 30px;
    z-index: 2;
}

.project-title > p {
    text-align: center;
    color: #FFFFFF;
    line-height: 30px;
}

.field {
    width: 100%;
    clear: both;
    border: 1px solid #dddddd;
    padding: 10;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.sb-btn {
    background: #4AAAA5;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
}

.sb-btn:active {
    background: #FFFFFF;
    color: #4AAAA5;
}

@media screen and (max-width: 980px) {
    .section-style {
        width: 768px;
    }
}

@media screen and (max-width: 768px) {
    .section-style {
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    /* html {
        width: 100%;
    } */
    .wrapper {
        width: 100%;
    }

    .section-style {
        width: 100%;
    }

    .section-img {
        width: 100%;
    }

    .navbar-brand-custom {
        margin-left: 0px;
        width: 100%;
    }

    .header-style {
        height: 200px;
        width: 100%;
    }

    .navbar-menu {
        display: block;
        float: none;
        position: none;
        margin-left: 25%;
        
    }

    .project-tile {
        clear: both;
        margin: 15px auto;
    }
}